.form-control--basepath,
.form-control--fullpath {
  width: 100%;
}

.json-editor--requestbody,
.json-editor--responsedata {
	width:100%; 
	height:400px
}

.parameter-header--required-symbol,
.parameter-lable--required-symbol {
	color: red;
}