<div class="row" ng-controller="docsRootController">
	<div class="well well-sm col-md-12 form-group">
		<div class="col-md-12 form-group">
			<div class="col-md-2">
				basepaths
			</div>
			<div class="col-md-4">
				<select class="form-control" ng-model="config.basePath" ng-change="update()" ng-options="basePath as 	basePath for basePath in basePaths">
				</select>	
			</div>
		</div>
		<div class="col-md-12 form-group">
			<div class="col-md-2">
				search term
			</div>
			<div class="col-md-4">
				<input class="form-control" ng-model="config.searchTerm" ng-change="update()">
			</div>
		</div>
	</div>
	<div class="col-md-12" ng-repeat="apicall in apicalls">
		<ng-include src="'app/src/templates/call.html'">
		</ng-include>
	</div>
</div>