<div ng-controller="docDetailController">
	<div ng-click="toggle()" class="row">
		<div class="col-md-12">
			<div class="well well-sm">
				<h4>
					{{apicall.fullPath}}
					<span class="label label-danger" ng-if="apicall.deprecated" >
						<i class="glyphicon glyphicon-thumbs-down ng-scope"> </i>
					</span>
					<span class="label pull-right" ng-class="
						{
							'label-primary':apicall.method=='POST',
							'label-success':apicall.method=='GET',
							'label-info':apicall.method=='PUT',
							'label-danger':apicall.method=='DELETE',
							'label-default':apicall.method=='OPTIONS',
						}
						">{{apicall.method}}
					</span>
				</h4>
				<br>
				{{apicall.handlerClass}}.{{apicall.handlerMethod}}()
			</div>
			<div class="col-md-12">
			</div>
		</div>
	</div>
	<div class="row" ng-show="expanded">
		<div class="col-md-12">
			<table class="table table-striped" style="word-wrap: break-word; word-break: break-all">
				<tr>
					<th style="width: 5%">*</th>
					<th style="width: 5%"></th>
					<th style="width: 20%">Name</th>
					<th style="width: 30%">Type</th>
					<th style="width: 20%">Default</th>
					<th style="width: 20%">Format</th>
				</tr>
				<tbody ng-repeat="param in apicall.pathParameters" ng-controller="ParamController">
					<tr>
						<td>*</td>
						<td>
							<span class="badge pull-left" popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="200" popover="Path Parameters">PP</span>
						</td>
						<td>
							{{param.parameterName}}
						</td>
						<td>
							<a popover-trigger="mouseenter" popover-placement="right" popover-popup-delay="200" popover="{{param.parameterType.className}}"  ng-click="toggle()">
								{{param.parameterType.className | shorttype}}
							</a>
							<span ng-show="param.parameterType.collection"> [ ]</span>
						</td>
						<td>--</td>
						<td>
							<span ng-show="param.format">{{param.format}}</span><span ng-show="!param.format">--</span>
						</td>
					</tr>
					<tr ng-if="expanded">
						<td colspan="6">
							<pre>{{paramDetail}}</pre>
						</td>
					</tr>
				</tbody>
				<tbody ng-repeat="param in apicall.requestParameters" ng-controller="ParamController">
					<tr>
						<td>
							<span ng-show="param.mandatory">*</span>
						</td>
						<td>
							<span class="badge pull-left" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay="200" popover="Request Parameters">RP</span>
						</td>
						<td>
							{{param.parameterName}}
						</td>
						<td>
							<a popover-trigger="mouseenter" popover-placement="right" popover-popup-delay="200" popover="{{param.parameterType.className}}" ng-click="toggle()">
								{{param.parameterType.className | shorttype}}
							</a>
							<span ng-show="param.parameterType.collection"> [ ]</span>
						</td>
						<td>
							{{param.defaultValue}}
						</td>
						<td>
							<span ng-show="param.format">{{param.format}}</span><span ng-show="!param.format">--</span>
						</td>
					</tr>
					<tr ng-if="expanded">
						<td colspan="6">
							<pre>{{paramDetail}}</pre>
						</td>
					</tr>
				</tbody>
				<tbody ng-repeat="param in apicall.requestBodyParameters" ng-controller="ParamController">
					<tr>
						<td>
							<span ng-show="param.mandatory">*</span><span ng-show="!param.mandatory">--</span>
						</td>
						<td>
							<span class="badge pull-left" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay="200" popover="Request Body">RB</span>
						</td>
						<td>
							{{param.parameterName}}
						</td>
						<td>
							<a popover-trigger="mouseenter" popover-placement="right" popover-popup-delay="200" popover="{{param.parameterType.className}}" ng-click="toggle()">
								{{param.parameterType.className | shorttype}}
							</a>
							<span ng-show="param.parameterType.collection"> [ ]</span>
							<span ng-show="param.parameterType.mandatory"><i class="glyphicon glyphicon-asterisk"> </i></span>
						</td>
						<td>
							{{param.defaultValue}}
						</td>
						<td>
							<span ng-show="param.format">{{param.format}}</span><span ng-show="!param.format">--</span>
						</td>
					</tr>
					<tr ng-if="expanded">
						<td colspan="6">
							<pre>{{paramDetail}}</pre>
						</td>
					</tr>
				</tbody>			
				<tr>
					<td>--</td>
					<td colspan="2">
						<span class="badge pull-left" popover-trigger="mouseenter" popover-placement="right" popover-popup-delay="200" popover="Return Type">RETURN</span>
					</td>
					<td>
						<a popover-trigger="mouseenter" popover-placement="right" popover-popup-delay="200" popover="{{apicall.returnType.returnClass.className}}" ng-click="showParamDetails()">
							{{apicall.returnType.returnClass.className | shorttype}}
						</a>
						<span ng-show="apicall.returnType.collection"> [ ]</span>
					</td>
					<td>--</td>
					<td>--</td>
				</tr>
				<tr ng-if="returnParamExpanded">
					<td colspan="6">
						<pre>{{returnParamDetails}}</pre>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="!isNoneParam() && docparam.showDetail" class="col-md-12">
			<pre>{{docparam.detail}}</pre>
		</div>
 		<div class="col-md-12">
			<div ng-bind-html="apicall.description | markdown">{{apicall.description | markdown}}</div>
		</div>
		<div>
			&nbsp;
		</div>
	</div>
</div>