<style>
	tr.tr-header{
		background-color:#BBB;
		border-bottom:3px solid blue;
	}
	tr.tr-pathparam{
		background-color:#CCC;
		border-bottom:3px solid blue;
	}
	tr.tr-requestparam{
		background-color:#DDD;
		border-bottom:3px solid blue;
	}
	tr.tr-requestbody{
		background-color:#EEE;
		border-bottom:3px solid blue;
	}
	tr.tr-returntype{
		background-color:#FFF;
		border-bottom:3px solid blue;
	}
</style>
<div ng-click="docDetails = !docDetails" ng-init="docDetails = false">
	<h4>
		{{apicall.fullPath}}
		<span class="label pull-right" ng-class="
			{
				'label-primary':apicall.method=='POST',
				'label-success':apicall.method=='GET',
				'label-info':apicall.method=='PUT',
				'label-danger':apicall.method=='DELETE',
				'label-default':apicall.method=='OPTIONS',
			}
			">{{apicall.method}}
		</span>
	</h4>
	<hr/>
</div>
<div ng-show="docDetails">
	<table class="table table-bordered" style="word-wrap: break-word; word-break: break-all" ng-show="apicall.pathParameters.length || apicall.requestParameters.length || apicall.requestBodyParameters.length">
		<tr class="tr-header">
			<th style="width: 5%">*</th>
			<th style="width: 20%">Name</th>
			<th style="width: 45%">Type</th>
			<th style="width: 15%">Default</th>
			<th style="width: 15%">Format</th>
		</tr>
		<tr class="tr-pathparam" ng-repeat="param in apicall.pathParameters">
			<td>*</td>
			<td>
				{{param.parameterName}}
			</td>
			<td>
				<a>{{param.parameterType.className | shorttype}}</a>
			</td>
			<td>--</td>
			<td>
				<span ng-show="param.format">{{param.format}}</span><span ng-show="!param.format">--</span>
			</td>
		</tr>
		<tr class="tr-requestparam" ng-repeat="param in apicall.requestParameters">
			<td>
				<span ng-show="param.mandatory">*</span>
			</td>
			<td>
				{{param.parameterName}}
			</td>
			<td>
				<a>{{param.parameterType.className | shorttype}}</a><span ng-show="param.collection"> [ ]</span>
			</td>
			<td>
				{{param.defaultValue}}
			</td>
			<td>
				<span ng-show="param.format">{{param.format}}</span><span ng-show="!param.format">--</span>
			</td>
		</tr>
		<tr class="tr-requestbody" ng-repeat="param in apicall.requestBodyParameters">
			<td>
				<span ng-show="param.mandatory">*</span><span ng-show="!param.mandatory">--</span>
			</td>
			<td>
				{{param.parameterName}}
			</td>
			<td>
				<a>{{param.parameterType.className | shorttype}}</a><span ng-show="param.collection"> [ ]</span>
			</td>
			<td>--</td>
			<td>
				<span ng-show="param.format">{{param.format}}</span><span ng-show="!param.format">--</span>
			</td>
		</tr>
		<tr class="tr-returntype" ng-show="apicall.returnType.returnClass.className != 'void'">
			<td>--</td>
			<td>--</td>
			<td>
				<a>{{apicall.returnType.returnClass.className | shorttype}}</a><span ng-show="apicall.returnType.collection"> [ ]</span>
			</td>
			<td>--</td>
			<td>--</td>
		</tr>
	</table>
	<div ng-bind-html="apicall.description | markdown">{{apicall.description | markdown}}</div>
	<hr/>
</div>