<div class="row" ng-controller="ObjectController">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li ng-repeat="object in objects" class="" ng-class="{'active' : active==object.className}" ng-if="!object.primitive">
				<a ng-click="select(object)">{{object.className |shorttype}}</a>
			</li>
		</ul>
	</div>
	<div class="col-md-9" ng-if="object">
		<h3>{{object.className | shorttype}}</h3><br>
		<strong>{{object.className}}</strong>
		<hr>
		<h4>Object Structure</h4>
		<pre>{{objectdetails}}</pre>
		<hr>
		<h4>Object Documentation</h4>
		<div ng-bind-html="object.description | markdown">{{object.description | markdown}}</div>
	</div>
</div>