<div class="modal-header">
    <h3 class="modal-title">Add Requsest in a group</h3>
</div>
<div class="modal-body">
	<div ng-show="dlg.dbgroups.length">
    	<span class="col-md-6"><label>existing group:</label></span>
    	<select class="form-group" ng-options="group as group for group in dlg.dbgroups" ng-model="dlg.selectgroup" ng-change="dlgSelectGroup()">
    	</select>
	</div>
    <div ng-show="dlg.dbgroups.length">
    	<span class="col-md-6"><label>OR create a new one: </label></span>
    	<input class="form-group" ng-model="dlg.creategroup" ng-change="dlgCreateGroup()">
    </div>
    <div ng-hide="dlg.dbgroups.length">
        <span class="col-md-6"><label>create a new group: </label></span>
        <input class="form-group" ng-model="dlg.creategroup" ng-change="dlgCreateGroup()">
    </div>
    <div >
    	<span class="col-md-6"><label> requsest name: </label></span>
    	<input class="form-group" ng-model="dlg.requsestname" >
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>