<html>
	<head>
		<title>apitester</title>
	    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="bower_components/lodash/dist/lodash.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/restangular/dist/restangular.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/js/tooltip.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/js/popover.js"></script>
		<script type="text/javascript" src="bower_components/angularUI/ui-bootstrap-tpls-0.11.0.js"></script>
		<script type="text/javascript" src="app/src/js/app.js"></script>
		<script type="text/javascript" src="app/src/js/controllers.js"></script>
	</head>
	<body ng-app="fgApitester" class="container">
		<div class="row">
			<div class="col-md-12 page-header">
				<h1>Api Tester FireFox 27</h1>
			</div>
		</div>
		<div class="row" ng-controller="rootController">
			<div class="col-md-12 form-group">
				<select ng-model="requestconfig.basepath" class="form-control" ng-change="updateFullpathOptions()">
					<option ng-repeat="basepath in basepaths" value="{{basepath}}">
						{{basepath}}
					</option>
				</select>
			</div>
			<div class="col-md-12 form-group"  ng-show="calls">
				<select ng-model="selectedCallPath" class="form-control" ng-change="selectFullPath()">
					<option ng-repeat="path in fullPaths" value="{{path}}">
						{{path}}
					</option>
				</select>
			</div>
			<div class="col-md-12 btn-group" ng-show="showRequestButton.flag">
				<span ng-repeat="method in methods">
					<button type="button" ng-click="selectRequest(method, selectedCallPath)" ng-disabled="!getCall(method, selectedCallPath)" ng-class="{'btn btn-default':isDisabled(method), 'btn btn-primary btn-lg':isAvailable(method), 'btn btn-warning':isDeprecated(method), 'btn btn-success btn-lg active':isActive(method)}" popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="200" popover-title="{{method}}" popover="{{buttonPopOver[method]}}">{{method}}</button>
				</span>
			</div>
			<div class="col-md-12 form-group" ng-show="selectedCallInfo.pathParameters.length">
				<h4>Path Variables: <font color="red">*</font></h4>
				<div ng-repeat="pathparam in selectedCallInfo.pathParameters" class="row">
					<div class="col-md-2"> 
						<label>
							{{pathparam.parameterName}}
							<font  ng-show="{{pathparam.mandatory}}" color="red">*</font>
						</label>
					</div>
					<div class="col-md-2"> 
						({{pathparam.parameterType.className}})
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control">
					</div>
				</div>
			</div>
			<div class="col-md-12 form-group" ng-show="selectedCallInfo.requestParameters.length">
				<h4>Request Parameters: </h4>
				<div ng-repeat="reqparam in selectedCallInfo.requestParameters" class="form-control">
					<div> 
						<label class="col-md-3">{{reqparam.parameterName}} ({{reqparam.parameterType.className}}):</label>
					</div>
					<div>
						<input type="text" class="col-md-5" placeholder="{{reqparam.defaultValue}}">
						<font class="col-md-1" ng-show="{{reqparam.mandatory}}" color="red">*</font>
					</div>
				</div>
			</div>
			<div class="col-md-12 form-group" ng-show="selectedCallInfo.requestBodyParameters.length">
				<h4>Request Body: </h4>
				<textarea ng-model="requestconfig.requestbody" class="col-md-12" placeholder="Request Body" ></textarea>
			</div>
		</div>
	</body>
</html>